<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <header>
        <h1>Venda de Ingressos de Rock!</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>
